server:
  port: 8080

spring:
  application:
    name: cost-web-app

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true
        descriptions: true
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

logging:
  level:
    root: INFO
    com.cost: DEBUG
    org.springframework.web: INFO

