
server:
  port: 8080

spring:
  application:
    name: cost-web-app
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.cost: DEBUG

