server:
  port: 8080

spring:
  application:
    name: cost-web-app

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.cost: INFO
  file:
    name: /var/log/cost-web-app/application.log
    max-size: 10MB
    max-history: 30

