<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application Logs</title>
</head>
<body>
    <div class="prometheus-component">
        <div class="component-header">
            <span class="component-title">애플리케이션 로그</span>
            <button class="close-button" onclick="hideComponent('logs')">닫기</button>
        </div>
        <div class="component-content" id="logs-content">
            <div class="loading">로딩 중</div>
        </div>
    </div>
</body>
</html>