name: Deploy to EC2 (Direct Install)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST_DEV }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY_DEV }}
          script: |
            cd /home/ubuntu/cost-web-app
            git pull origin main
            ./gradlew clean build -x test
            sudo systemctl restart cost-web-app
            sudo systemctl status cost-web-app

